.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #242424;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.87);
}
